// Buttons


.rvct_btn_primary{
	background: #ed5600;
	border: none;
	color: #fff;
	padding: 13px 25px;
	cursor: pointer;
	text-align:center;
	text-decoration: none !important;
}

.rvct_btn_secondary{
	background: #0c0a26;
	border: none;
	color: #fff;
	padding: 13px 25px;
	cursor: pointer;
	text-align:center;
	text-decoration: none !important;
}
.rvct_simple_btn{
	font-size: 14px;
}


// main layout

.main_wrapper{
	background: #e0e0f9;
	width: 100%;
	height: 100%;
	padding: 10px;
}
.main_container{
}

.main_header{
	background: #fff;
	padding: 15px;
}

// table

.rvct_table{
	font-size: 15px;
	td{
		vertical-align: middle;
	}
	.material_shadow;
	padding: 0 15px;
	background: #fff;
	td:last-child  , th:last-child {
		text-align: right;
	}
}

//titles

.rvct_title{
	margin: 0;
	text-align: right;
}


//forms

.form_cadastros{
	width: 100%;
	float: left;
	padding: 15px;
	background: #fff;
	.material_shadow;
	margin: 0 auto;
	.rvct_btn_primary{
		float: right;
		
	}
}

//modal
.rvct_modal_wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	background: #ffffff4f;
	top:0;
	.rvct_modal_content{
		padding: 15px;
		margin: 0 auto;
		left: 0;
		max-width: 880px;
		right: 0;
		-webkit-box-shadow: 0px 0px 49px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 49px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 49px -4px rgba(0,0,0,0.75);
		position: fixed;
		z-index: 9999;
		background: #fff;
		top:30%;
	}

}
//card

.rvct_card{
	border:none;
	border-radius:none;
	.card-header{
		border-radius:none;
		background: #131329;
		color:#fff;
	}
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

//shadows

.material_shadow{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material_shadow1{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
//Drop down

.rvct_dropdown{
	border: none;
	border-radius:none;
	.material_shadow1;
}

//Status

.status_2{
	.status;
	border:solid 1px #F44336;
	color: #F44336;
}
.status_1{
	.status;
	border:solid 1px green;
	color: green;
}
.status_3{
	.status;
	background: #c1c1c1;
	color: #fff;
}
.status_4{
	.status;
	background: #3f51b5;
	color: #fff;
}
.status_5{
	.status;
	border:solid 1px #000;
	color: #000;
}
.status{
	
	text-align: center;
	display: block;
	color: #fff;
	max-width: 80%;
	border-radius: 15px;
	font-size: 13px;
	font-weight: bold;
}